*{
    margin: 0;
    padding: 0;
}
.about{
    width: 100%;
    height: 50vh;
    background-image: url(../assets/images/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* opacity: 0.8 ; */
    z-index: +1;
    position: relative;

}
.about::before{
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;   
    background-color: black;
    opacity: .5;
    z-index: -1;

}
.about h1{
   
    color: white;
}
.home{
    font-size: larger;
    text-decoration: none;
    color: white;
}
.about h4{
    font-size: larger;
    text-decoration: none;
    color: white;

}
.about h4:hover{
    color: red;
}
.about-sub{
    display: flex;
}
.hero-section{
    display: flex;
    margin-top:2rem;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}