@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --font-family: 'Jost', sans-serif;
}
/* Header 1 */

.head-1{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(136,10,10,1) 100%);    
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-pill{
    display: flex;
    align-items: center;
    padding: .4rem;
    font-size: larger;
    color: white;
}
.head-box{
    display: flex;
}
.head-pill div{
    display: block;
    display: flex;
}
.head-pill a{
    text-decoration: none;
    color: white;
}
.mail-icon{
    margin: 10px;
}
.ques-icon{
    margin: 10px;
}
.log-icon{
    margin: 10px;
}
.reg-icon{
    margin: 10px;
}

/* Header 2 */
.logo{
    padding: 1rem 2rem;
}
.head-2{
    background-color: white;
    box-shadow: 0.4px 0.4px 0px rgb(167, 123, 57);
    display: flex;
    justify-content: space-between;
}
.menu-bar{
    text-align: center;
    margin-top: 20px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu-bar ul li{
    width: 100px;
    margin: 10px;
    padding: 10px;
}
.menu-bar ul li a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}
.menu-bar ul li a:hover{
    color: red;
}
.sub-menu-1 ul{
    padding: 0;
    margin: 0;
    box-shadow: 0.4px 0.4px 2px gainsboro;
}
.sub-menu-1 ul li a{
    padding: 5px 10px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 11px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    background-color: rgb(249,248,248);
}
.bi-caret-down-fill{
    margin-top: 4px;
    margin-left: 4px;
}

/* =======================Section-1======================= */

.sec-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 12rem;
    position: relative;
    background-color: rgb(249,248,248);
    background-image: linear-gradient(315deg, rgb(249,233,234) 0%, rgb(244, 239, 243) 74%);
    z-index: -1;
}
.sec-1::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 250px;
            background: url(./wave3.png);
            background-size: cover;
            background-repeat: no-repeat;
}
.info{
    margin-left: 5rem;
}
.info h2{
    font-size: 3.5rem;
    font-family: var(--font-family);
    font-weight: bold;
    line-height: 5rem;
}
.info p{
    font-size: 1.4rem;
    width: 60%;
    line-height: 2;
}
.sec-1-img{
    margin-top: -12rem;
    margin-left: -1rem;
    width: 80%;    
    height: 100vh;
    background-color: pink;
    padding-top: 220px;
    padding-right: 150px;
    border-radius: 4rem;
}

/* animated button */

.btn-hover-1{
    margin-top: -18rem;
    margin-left: 5rem;
}

.btn-hover-1 button{
    position: relative;
    border: none;
    transition: 0.4s ease-in;
    z-index: 1;
    padding: 15px 30px;
    margin-right: 1rem;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(136,10,10,1) 100%);
    color: white;
    font-family: var(--font-family);
    font-size: 1.2rem;
}
.btn-hover-1 button::before,
.btn-hover-1 button::after{
    position: absolute;
    content: '';
    z-index: -1;
}
.btn-hover-1 .btn::after{
    height: 0;
    left: 0;
    top: 0;
    transition-duration: 0.4s;
    width: 100%;
    background-color: black;
}
.btn-hover-1 .btn:hover:after{
    height: 100%;
}


/* Subjects sections info */

.sec-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15rem;
}
.subj-info{
    margin-left: 7rem;
}
.subj-info h2{
    font-size: 3.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    line-height: 6rem;
    font-weight: bold;
}
.subj-info p{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2;
}
.btn-hover-2{
    margin-top: 6rem;
    margin-left: 25rem;
}
.btn-hover-2 button{
    position: relative;
    border: none;
    transition: 0.4s ease-in;
    z-index: 1;
    padding: 15px 30px;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(136,10,10,1) 100%);
    color: white;
    font-family: var(--font-family);
    font-size: 1.2rem;
}
.btn-hover-2 button::before,
.btn-hover-2 button::after{
    position: absolute;
    content: '';
    z-index: -1;
}
.btn-hover-2 .btn::after{
    height: 0;
    left: 0;
    top: 0;
    transition-duration: 0.4s;
    width: 100%;
    background-color: black;
}
.btn-hover-2 .btn:hover:after{
    height: 100%;
}

/* Subject Contanier */

.subj-contanier{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2rem;
    padding: 0 7rem;
    margin-top: 4rem;
}
.subj-contanier > div {
    background-color: white;
    box-shadow: 0.4px 0.4px 10px wheat;
    border: 1px solid rgb(204,204,204);
    text-align: center;
    padding: 2rem 1rem;
}
.cot-1 .cot-1-icon{
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    text-align: center;
    display: inline-block;
    font-size: 3.5rem;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgb(185, 25, 25) 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    color: white;
    margin-bottom: 2rem;
}
.cot-1-info h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100px;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}
.cot-1-info p{
    margin-bottom: 1rem;
    font-weight: 2rem;
    font-size: 1.2rem;
    color: rgb(69, 58, 58);
    line-height: 3.6rem;
}
.cot-1-info .cot-1-btn{
    color: red;
    font-size: 1.5rem;
}
.cot-1-info .cot-1-btn:hover{
    text-decoration: none;
}


/* Courses section*/

.courses-area{
    position: relative;
    padding: 10rem;
    background-color: rgb(249,248,248);
    margin-top: 8rem;
}
.course-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
}
.course-info h3{
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: red;
    font-weight: normal;
}
.course-info h2{
    font-size: 2.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.course-container{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
    row-gap: 2rem;
}
.courses-cart{
    box-shadow: 0.4px 0.4px 20px wheat; 
}
.courses-cart .hand-img{
    position: absolute;
    bottom: 10rem;
    left: 26rem;
    opacity: .467;
}

/* .courses-cart::before{
    content: '';
    position: absolute;
    background: url(./hand-2.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 600px;
    top: 25rem;
    left: 19rem;
    opacity: 0.456;
} */
.cart-img{
    background: url(./1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.cart-meta{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: -3rem;
    color: white;
}
.cart-meta .meta-1{
    font-size: 1rem;
    font-family: 'Jost', sans-serif;
}
.cart-meta .meta-1-price{
    color: red;
    background-color: white;
    font-weight: bold;
    box-shadow: 0.4px 0.4px 10px rgb(129, 142, 129);
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: -0.5rem;
}
.courses-cart .course-title{
    font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
    padding: 30px;
}
.course-tech{
    display: flex;
    padding: 0px 30px;
}
.course-tech .course-bio{
    padding-left: 20px;
}
.course-tech .course-bio h5{
    font-family: 'Jost', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.course-tech .course-bio p{
    color: red;
}
.cart-footer{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}
.cart-footer .course-btn a{
    text-decoration: none;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgb(185, 25, 25) 100%);
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 1.3rem;
    padding: 10px 20px;
}
/* .hand-img{
    position: absolute;
    bottom: 10rem;
    right: 8rem;
    opacity: 0.456;
} */

/* Client Feedback area section */

.client-feedback-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.client-feedback-area .client-says{
    margin: 8rem;
}
.client-feedback-area h5{
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    width: 500px;
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    margin-bottom: 1.8rem;
}
.client-feedback-area h2{
    font-family: serif;
    font-size: 3rem;
    font-weight: bolder;
    line-height: 4rem;
}
.client-feedback-area p{
    font-family: 'Jost', sans-serif;
    line-height: 2.5rem;
    font-size: 1.3rem;
    font-weight: lighter;
    margin-top: 1rem;
}

/* Slider */

main{
    width: 70%;
    height: 40vh;
    margin: auto;
    box-shadow: 0px 0px 3px grey;
    position: relative;
    overflow: hidden;
    margin-top: 5rem;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}
.nav{
    text-align: center;
    margin-top: 1rem;
}
.nav button{
    font-size: 1rem;
    padding: .2rem;
}

/* Event Section */

.Event-section{
    background-color: rgb(249,248,248);
    padding: 5.2rem 4rem;
}
.text-center{
    text-align: center;
    margin-bottom: 4rem;
}
.text-center h5{
    color: red;
    font-family: serif;
    font-size: 1.6rem;
}
.text-center h2{
    font-family: var(--font-family);
    font-size: 2.6rem;
}
.event-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.event-box{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-bottom: 2px solid #ddd;
    width: 90%;
    padding-bottom: 4rem;
    margin-bottom: 5rem;
}
.event-date{
    width: 220px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 1px 1.732px 40px 0px rgb(0 0 0 / 8%);
    text-align: center;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.event-date::before{
    position: absolute;
    content: "";
    width: 80%;
    height: 80%;
    border: 2px dashed rgb(246,88,104);
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.event-date h3{
    margin-bottom: 0;
    position: absolute;
    color: rgb(246,88,104);
    font-size: 3rem;
    top: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #FFF;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    box-shadow: 1px 1.732px 40px 0px rgb(0 0 0 / 8%);
    border-radius: 50%;
}
.event-date h5{
    margin-bottom: 0;
    margin-top: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
}
.event-box .event-info h4 {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2rem;
}
.event-box .event-info a{
    text-decoration: none;
    color: black;
}
.event-box .event-info ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2.5rem;
    line-height: 1;
    width: 345px;
}
.event-box .event-info ul li {
    display: flex;
    align-items: center;
    font-size: 1.rem;
    color: black;
    font-weight: 100px;
    line-height: 1;
}
.event-box .event-info ul li svg{
    margin-right: 0.5rem;
}
.event-box .event-info p{
    font-family: var(--font-family);
    font-size: 1.3rem;
    font-weight: lighter;
}


/* Contact-contanier */

.contact-contanier{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem 6rem;
    gap: 9rem;
}
.contact-left h2{
    font-family: var(--font-family);
    font-size: 2.4rem;
    width: 500px;
    line-height: 3.6rem;
    margin-bottom: 2rem;
}
.contact-left h3{
    font-family: serif;
    font-size: 1.3rem;
    padding: 15px 0px;
    font-weight: bold;
}
.contact-left p{
    font-family: var(--font-family);
    color: rgb(98, 108, 123);
    font-weight: lighter;
    font-size: 1.1rem;
}

/* Contact-right */

.contact-right input, textarea::placeholder{
    font-family: var(--font-family);
    font-size: 1.1rem;
}
.contact-right input, textarea{
    border-radius: 5px;
}
.contact-row-1 input{
    padding: 15px;
    width: 200px;
    margin-right: 1rem;
}
.contact-row-2 input{
    display: block;
    padding: 15px;
    margin: 1rem 0rem;
    width: 452px;
}
.contact-row-2 textarea{
    padding: 15px;
    margin: 1rem 0rem;
    width: 452px;
}
.contact-right button{
    padding: 16px 30px;
    font-family: var(--font-family);
    font-size: 1.1rem;
    background-color: rgb(246,88,104);
    color: white;
    border: none;
    cursor: pointer;
}

/* footer */

footer{
    background-color: black;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 4rem;
}
.footer-col{
    padding: 2rem 3rem;
    width: 280px;
    font-family: var(--font-family);
    color: rgb(116,135,144);
}
.footer-col h2{
    font-size: 1.8rem;
    font-weight: bold;
}
.footer-col hr{
    width: 50px;
    height: 5px;
    background-color: gray;
    margin: 1rem 0rem;
}
.footer-col .logo{
    margin-left: -2rem;
    margin-bottom: -2rem;
}
.footer-col p{
    margin-top: 3rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: justify;
}
.footer-col .address{
    font-size: 1.2rem;
    border-bottom: 2px solid gray;
    line-height: 3rem;
}
.footer-col .phone-no{
    font-size: 1.2rem;
    border-bottom: 2px solid gray;
    line-height: 3rem;
}
.footer-col .mail{
    font-size: 1.2rem;
    border-bottom: 2px solid gray;
    line-height: 3rem;
}
.footer-col svg{
    margin-right: 1.1rem;
}
.course-footer{
    display: flex;
}
.course-footer img{
    margin-top: 2.9rem;
}
.course-footer p{
    line-height: 1.5rem;
    margin-left: 0.8rem;
}
.course-footer p span{
    color: red;
}
.contact-form input{
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 8px 20px;
    width: 200px;
    margin-top: 2rem;
    background-color: transparent;
    color: white;
}
.contact-form textarea{
    font-family: var(--font-family);
    font-size: 1rem;
    width: 200px;
    padding: 8px 20px;
    margin-top: 2rem;
    color: white;
    background-color: transparent;
}
.contact-form button{
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 10px 30px;
    margin-top: 1rem;
    background-color: red;
    color: white;
    border: none;
}

.fot-line{
    display: flex;
    justify-content: space-evenly;
    color: rgb(158, 173, 180);
    margin-top: 2rem;
}
.fot-line .social-icon{
    display: flex;
}
.fot-line .fb-icon{
    margin-right: 1rem;
}
.fot-line .twitter-icon{
    margin-right: 1rem;
}
.fot-line .instagram-icon{
    margin-right: 1rem;
}

/* =============================== */