*{
    margin: 0;
    padding: 0;
}
.head-1{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(136,10,10,1) 100%);    
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-pill{
    display: flex;
    align-items: center;
    padding: .4rem;
    font-size: larger;
    color: white;
}
.head-box{
    display: flex;
}
.head-pill div{
    display: block;
    display: flex;
}
.head-pill a{
    text-decoration: none;
    color: white;
}
.mail-icon{
    margin: 10px;
}
.ques-icon{
    margin: 10px;
}
.log-icon{
    margin: 10px;
}
.reg-icon{
    margin: 10px;
}
/* Header 2 */
.logo{
    padding: 1rem 2rem;
}
.head-2{
    background-color: white;
    box-shadow: 0.4px 0.4px 0px rgb(167, 123, 57);
    display: flex;
    justify-content: space-between;
}
.menu-bar{
    text-align: center;
    margin-top: 20px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu-bar ul li{
    width: 120px;
    margin: 10px;
    padding: 10px;
}
.menu-bar ul li a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}
.menu-bar ul li a:hover{
    color: red;
}
.sub-menu-1 ul{
    padding: 0;
    margin: 0;
    box-shadow: 0.4px 0.4px 2px gainsboro;
}
.sub-menu-1 ul li a{
    padding: 5px 10px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 11px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    background-color: rgb(249,248,248);
}
.bi-caret-down-fill{
    margin-top: 4px;
    margin-left: 4px;
}
.capture{
    background: url(/assets/images/course\ cover\ img.PNG);
    height: 70vh;
    background-size: cover !important;
    background-repeat: repeat !important;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.capture::before{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
    content: '';
}
.capture-title{
   
    color: white;
    font-weight: 300;
    font-size: 3rem;
}
.home{
    font-size: larger;
    text-decoration: none;
    color: white;
}
 .cap-mnu{
    margin-left: 10px;
    font-size: larger;
    text-decoration: none;
    color: white;

}
 .cap-mnu:hover{
    color: red;
}
.about-sub{
    display: flex;
}
.teacher-padding-area{
    padding: 5rem;
}
.grid-1{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    
}
.author-bio{
    box-shadow: 0 3px 3rem rgb(139 139 139 / 16%);
    padding: 6rem;
}
.author-pic img{
    width: 80%;
    border-radius: 50%;
    border: 13px solid #eee;
    padding: 1.1rem;
}
.author-detail, .author-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h5{
    color: black;
    margin: 0 0 1.5rem 0;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 1.2;
}
h5{
    font-size: 18px;
}
.author-detail span{
    margin-bottom: 1rem;
    display: block;
    color: black;
    font-size: 1.5rem;
}
li{
    list-style: none;
}
.author-list li{
    display: block;
    margin-bottom: 7px;
    font-size: 1.2rem;
}
.author-rating{
    display: flex;
    flex-direction: row;

}
.author-rating ul{
    display: flex;
}
.author-rating p{
    font-size: 1.5rem;
}

.bi-star-fill{
    margin: .1rem;
    color: #F65856;
}
.author-text p{
    font-size: 1.4rem;
}
.author-contact{
    margin-top: 10rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    justify-content: space-evenly;
}

.contact li{
    margin-bottom: 2rem;
}
.contact span{
    margin-left: .5rem;
}

.exp{
    display: flex;
    flex-direction: column;
}
h4{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.Qualification h3{
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}
.Qualification h5{
    margin: 0rem;
}
.contact h3{
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}
.bi{
    color: #F65856;
}
/* footer */

footer{
    background-color: black;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 4rem;
}
.footer-col{
    padding: 2rem 3rem;
    width: 280px;
    font-family: var(--font-family);
    color: rgb(116,135,144);
}
.footer-col h2{
    font-size: 1.8rem;
    font-weight: bold;
}
.footer-col hr{
    width: 50px;
    height: 5px;
    background-color: gray;
    margin: 1rem 0rem;
}
.footer-col .logo{
    margin-left: -2rem;
    margin-bottom: -2rem;
}
.footer-col p{
    margin-top: 3rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: justify;
}
.footer-col .address{
    font-size: 1.2rem;
    border-bottom: 2px solid gray;
    line-height: 3rem;
}
.footer-col .phone-no{
    font-size: 1.2rem;
    border-bottom: 2px solid gray;
    line-height: 3rem;
}
.footer-col .mail{
    font-size: 1.2rem;
    border-bottom: 2px solid gray;
    line-height: 3rem;
}
.footer-col svg{
    margin-right: 1.1rem;
}
.course-footer{
    display: flex;
}
.course-footer img{
    margin-top: 2.9rem;
}
.course-footer p{
    line-height: 1.5rem;
    margin-left: 0.8rem;
}
.course-footer p span{
    color: red;
}
.contact-form input{
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 8px 20px;
    width: 200px;
    margin-top: 2rem;
    background-color: transparent;
    color: white;
}
.contact-form textarea{
    font-family: var(--font-family);
    font-size: 1rem;
    width: 200px;
    padding: 8px 20px;
    margin-top: 2rem;
    color: white;
    background-color: transparent;
}
.contact-form button{
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 10px 30px;
    margin-top: 1rem;
    background-color: red;
    color: white;
    border: none;
}

.fot-line{
    display: flex;
    justify-content: space-evenly;
    color: rgb(158, 173, 180);
    padding: 30px 0px;
}
.fot-line .social-icon{
    display: flex;
}
.fot-line .fb-icon{
    margin-right: 1rem;
}
.fot-line .twitter-icon{
    margin-right: 1rem;
}
.fot-line .instagram-icon{
    margin-right: 1rem;
}

/* =============================== */