*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.faq-head{
    text-align: center;
    color: white
}
.faq-link{
    text-decoration: none;
    font-size: x-large;
    color: white;

}
.faq-head2{
    margin: 0;
    color: white;

}
.faq-head2:hover{
    color: brown;
}
.faqs-template{
    width: 100%;
    height: 50vh;
    background-image: url(../assets/images/about-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: +1;

}
.faq-div{
    width: 100%;
    height: 50vh;
    
}
.faqs-template::before{
    content: "";
    height: inherit;
    width: inherit;
    background-color: black;
    position: absolute;
    opacity: .5;
    z-index: -1;
}
.faq-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.faqs{
    display: flex;
    width: 100%;
    height: 50vh;
}
.left-accordion{
    width: 50%;
    margin: 5rem 5rem 0rem 5rem;
    


}
.right-accordion{
    width: 50%;
    margin: 5rem 5rem 0rem 0rem;
    
    


}
.accordion-tab{
    position: relative;
    display: block;
    margin-top: rem;
    border-top: .5px solid black;
    padding: 1rem 0rem;
    border: .5px solid black;
    margin-left: 1rem;
    
}
.accordion-tab label{
    font-size: 1.5rem;
    /* font-weight: bold; */
    margin: 1rem;

}
.accordion-content{
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
    line-height: 1.5rem;
    
}
.accordion-toggle:checked ~ .accordion-content{
    max-height: 100vh;
    margin: 1rem;


}
.accordion-toggle{
    display:none;
}